<crud-modal>
    <form name="form"  class="form-horizontal">
        <div class="form-group">
            <z-input res="common.Export.format" cols="2,4" for="format" type="select" z-options="t.id as t.name for t in formats| orderBy:'name'" required></z-input>
        </div>
        <div class="form-group">
            <z-input res="common.Export.groupby" cols="2,10" for="groupby" type="select" z-options="t.id as t.name for t in groupbys| orderBy:'name'"></z-input>
        </div>
    </form>
</crud-modal>
