<div class="row">
    <div class="col-md-9">
        <pagination ng-if="!sgNoPager && totalItems>pageSize"
                    total-items="totalItems" page="currentPage" items-per-page="pageSize"
                    max-size="5" class="pagination-sm" boundary-links="true"  on-select-page="changed(page)" />
    </div>
    <div class="col-md-3 sg-footer">
        <strong>{{footer}} <a href="#" editable-number="pageSize" onaftersave="changed(page)"> *** {{ pageSize }} per page</a> </strong>
    </div>
</div>