<div class="row sg-gridrow" ng-if="hasSummary">
    <div class="{{col.$getColumnClass(item)}}" ng-repeat="col in columns">
        <span class="text-success">{{col.$aggregate()|picker:col.format}} <i class="fa fa-bar-chart sg_gridIcon text-info" ng-if="!!col.chartSeries" ng-click="col.$chart()" style="top:50%;"></i></span>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <pagination ng-if="!sgNoPager && pageSetting.totalItems>pageSetting.pageSize"
                    total-items="pageSetting.totalItems" page="pageSetting.currentPage" items-per-page="pageSetting.pageSize" rotate="false"
                    max-size="5" class="pagination-sm" boundary-links="true"  on-select-page="changed(page, true)" />
    </div>
    <div class="col-md-3 sg-footer">
        <strong><a href="#" editable-number="pageSetting.pageSize" e-min="20" e-max="400" onaftersave="changed(1)">
            {{footer}}</a> </strong>
    </div>
</div>