<div class="row well well-sm sg-gridSearch" >
    <button type="button" class="btn btn-success"  ng-click="modalSearch()" ng-if="sgModalSearchTemplate"><i class="fa fa-search"></i> {{'common.searchAdv' | i18n}}</button>
    <button type="button" class="btn btn-default"  ng-click="modalSearchReset()" ng-if="sgModalSearchTemplate"><i class="fa fa-undo"></i> {{'common.Reset' | i18n}}</button>
    <button type="button" class="btn btn-default"  ng-click="export()"><i class="fa fa-file-excel-o"></i> {{'common.Export' | i18n}}</button>
    <button type="button" class="btn btn-default pull-right"  ng-click="checkAll()"><i class="fa fa-check"></i> {{'common.checkAll' | i18n}}</button>
    <span class="pull-right" style="margin-right: 10px"><small>To select, press <kbd>CTRL</kbd> key to click</small></span>
</div>
<div class="row sg-gridheader" >
    <div class="{{col.$getColumnClass()}}" ng-click="col.$sort()" ng-repeat="col in columns">
        <span>{{col.$getTitle()}}</span>
        <i class="fa fa-long-arrow-down pull-right sg_gridIcon" ng-show="col.sortOrder" style="top:50%;"></i>
        <i class="fa fa-long-arrow-up pull-right sg_gridIcon" ng-show="!col.sortOrder && col.sortOrder!=undefined" style="top:50%;"></i>
    </div>
</div>