<div class="row well well-sm sg-gridSearch"  ng-if="sgModalSearchTemplate">
    <button type="button" class="btn btn-success"  ng-click="modalSearch()"><i class="fa fa-search"></i> {{'common.searchAdv' | i18n}}</button>
    <button type="button" class="btn btn-default"  ng-click="modalSearchReset()"><i class="fa fa-undo"></i> {{'common.Reset' | i18n}}</button>
</div>
<div class="row well well-sm sg-gridheader" >
    <div class="{{col.$getColumnClass()}}" ng-repeat="col in columns">
        <input type="checkbox" ng-if="col.checkbox" ng-model="col.checkedAll" ng-change="checkAll(col.checkedAll)"
               style="margin-top: 8px;margin-left: -10px">
        <a href ng-click="col.$sort()" class="btn-header">{{col.$getTitle()}}</a>
        <i class="fa fa-sort-desc" ng-show="col.sortOrder"></i>
        <i class="fa fa-sort-asc" ng-show="!col.sortOrder && col.sortOrder!=undefined"></i>
    </div>
</div>