<div class="sg-grid">
    <ng-include src="'template/simplegrid/header.html'"></ng-include>
    <div>
        <div style="{{scrollStyle}}">
            <div ng-repeat="item in items" class="row sg-gridrow" ng-class="{true: 'sg-gridrow-active'}[item.$__selected]" ng-click="clickRow(item,$event)" context-menu="sgMenu" >
                <a href ng-if="sgAllowDel && !sgReadonly" ng-click="DelObject(item)" class="col-sg-1"><i class= 'fa fa-minus-circle fa-lg sg_gridIcon text-danger'></i></a>
                <div class="{{col.$getColumnClass(item)}}" style="{{col.$getColumnStyle()}}" ng-repeat="col in columns" title="{{col.$getText(item)}}">
                    <i ng-if="$first && item.$__selected" class="fa fa-circle"></i>
                    <i ng-if="col.bool" ng-class="{true: 'fa fa-check'}[col.$getValue(item)]"></i>
                    <ng-include  ng-if="!sgReadonly && col.template" src="col.template"></ng-include>
                    <span ng-click="col.$modalEdit(item,$event)" ng-class="{true:'editable-click'}[col.modalEdit && !sgReadonly]" ng-if="sgReadonly || !col.template || (item.$core && item.$core() && col.template.substr(0,9)!='readonly_')">{{col.$getText(item)| picker:col.format}}</span>
                    <i ng-if="$last && item.$core && item.$core()" class="fa fa-lock pull-right sg_gridIcon"></i>
                </div>
            </div>
        </div>
        <ng-include src="'template/simplegrid/footer.html'"></ng-include>
        <simple-grid-chart ng-if="!!chartCategory"  sc-data="data" sc-category="chartCategory" sc-keylookup='chartLookup(col,value)' sc-series='chartSeries' sc-chart-type="'area'" sc-instance="scInstance"></simple-grid-chart>
    </div>
</div>