<div class="sg-grid">
    <ng-include src="'template/simplegrid/header.html'"></ng-include>
    <div style="{{scrollStyle}}">
        <div ng-repeat="item in items" class="row sg-gridrow" ng-click="sgOnClick({id: item.id})">
            <div class="{{col.$getColumnClass()}}" ng-repeat="col in columns" ng-click="$event.stopPropagation()">
                <i ng-if="col.bool" ng-class="{true: 'fa fa-check'}[item[col.name]]"></i>
                <a href ng-if="$first && sgAllowDel" ng-click="DelObject(item)"><i class= 'glyphicon glyphicon-remove'></i></a>
                <ng-include  ng-if="col.template" src="col.template"></ng-include>
                <span ng-if="!col.template && !col.checkbox">{{col.$getText(item)}}</span>
                <label ng-if="col.checkbox">{{col.$getText(item)}}<input type="checkbox" ng-model="item.selected"></label>
            </div>
        </div>
    </div>
    <ng-include src="'template/simplegrid/footer.html'"></ng-include>
</div>